.custom-slider {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ED3676;
    cursor: pointer;
  }
  
  .custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #ED3676;
    cursor: pointer;
  }
  
  .custom-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ED3676;
    cursor: pointer;
  }